button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(248, 11, 11);
}

button:hover {
  opacity: 0.8;
}

h1 {
  margin-bottom: 20px;
}
